<h1>Main chat</h1>
<p>This is the main chatroom. Please feel free to chat to one and another here before heading into the game rooms.</p>

<form ng-submit="chat.sendMessage()">
  <div class="form-group">
    <input placeholder="Message here" ng-model="chat.newMessage" class="form-control">
  </div>
</form>

<div class="chat-window">
  <ul>
    <li ng-repeat="message in chat.all track by $index">{{ message.name }}: {{ message.content }}</li>
  </ul>
</div>

<!-- <form ng-submit="chat.sendMessageBotLoop()">
  <div class="form-group">
    <input placeholder="Message here" ng-model="chat.newMessageBotLoop" class="form-control">
  </div>
</form>

<div class="chat-window">
  <ul>
    <li ng-repeat="message in chat.allLoopMessages track by $index">{{ message.name }}: {{ message.content }}</li>
  </ul>
</div> -->