<div class="login">
  <h1>Login</h1>

  <div class="email-login">
    <form ng-submit="login.submit()">
      <div class="form-group">
        <label>Email address</label>
        <input type="text" name="email" ng-model="login.credentials.email" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" ng-model="login.credentials.password" class="form-control">    
      </div>
      <button class="btn btn-primary">Login</button>
    </form>

    <a ui-sref="register" class="register-button">Or register</a>
  </div>


  <div id="social-media">
    <a href=""><img ng-src="../images/github.png" ng-click="login.authenticate('github')" class="social-media"></a>
    <a href=""><img ng-src="../images/facebook.png" ng-click="login.authenticate('facebook')" class="social-media"></a>
    <a href=""><img ng-src="../images/instagram.png" ng-click="login.authenticate('instagram')" class="social-media"></a>
    
  </div>
</div>