<h1>This is the User show</h1>

<div class="col-md-8 col-md-offset-2">
  <div class="thumbnail">
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcToWXet6ifvpSHOfr1To_xUJ1FfMxzMvo_BnkGwqxwODBitGjv7Sg">
    <div class="caption">
      <h3>{{ usersShow.selected.username }}</h3>
      <p>Total Games Played: {{ usersShow.selected.gamesPlayed }}</p>
      <p>Right Guesses: {{ usersShow.selected.rightGuess }}</p>
      <p>Total Guesses: {{ usersShow.selected.totalGuess }}</p>
      <p>Number of Humans Tricked: {{ usersShow.selected.numberDeceived }}</p>
    </div>
  </div>
</div>